<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties>
	</properties>
	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="logImpl" value="LOG4J2" />
	</settings>

	<objectFactory type="cn.osxm.ssmi.chp13.MyObjectFactory">
	</objectFactory>

	<environments default="my_mysql">
		<environment id="my_mysql">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/ssmi?serverTimezone=UTC" />
				<property name="username" value="root" />
				<property name="password" value="123456" />
				
				<property name="poolMaximumActiveConnections" value="300"/>
			</dataSource>
		</environment>
		<environment id="my_mysql_c3p0">
			<transactionManager type="JDBC" />
               <dataSource type="cn.osxm.ssmi.chp13.C3p0DataSourceFactory">
                 <property name="driverClass" value="com.mysql.cj.jdbc.Driver"/>
                 <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/ssmi?serverTimezone=UTC"/>
                 <property name="user" value="root"/>
                 <property name="password" value="123456"/>
                 <property name="initialPoolSize" value="5"/>
                 <property name="maxPoolSize" value="20"/>
                 <property name="minPoolSize" value="5"/>
             </dataSource>
		</environment>
		<environment id="my_oracle">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@pc-hfplm:1521:orcl" />
				<property name="username" value="oscar999" />
				<property name="password" value="oscar999" />
			</dataSource>
		</environment>
	</environments>
	<databaseIdProvider type="DB_VENDOR">
		<property name="MySQL" value="mysql" />
		<property name="Oracle" value="oracle" />
		<property name="SQL Server" value="sqlserver" />
		<property name="DB2" value="db2" />
	</databaseIdProvider>
	<mappers>
		<mapper resource="cn/osxm/ssmi/chp13/UserMapper.xml" />
		<mapper resource="cn/osxm/ssmi/chp13/DemoMapper.xml" />
	    <mapper class="cn.osxm.ssmi.chp13.UserAnnoMapper"/>
	</mappers>
</configuration>
