<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
       	http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/security  http://www.springframework.org/schema/security/spring-security.xsd">

	<!-- <context:component-scan base-package="cn.osxm.ssmi.chp07,cn.osxm.ssmi.chp08,cn.osxm.ssmi.chp09.rest"> -->
	<context:component-scan base-package="cn.osxm.ssmi.chp09">
		<context:exclude-filter type="annotation"
			expression="org.springframework.context.annotation.Configuration" />
	</context:component-scan>
	<mvc:annotation-driven />

	<!--父子容器 -->
	<!-- -<context:component-scan base-package="cn.osxm.ssmi"> <context:exclude-filter type="annotation" 
		expression="org.springframework.stereotype.Controller"/> </context:component-scan> <context:component-scan 
		base-package="cn.osxm.ssmi"> <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/> 
		</context:component-scan> -->

	<!--JSR-303 @Valid 国际化支持配置 <mvc:annotation-driven validator="validator" conversion-service="conversion-service" 
		/> <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"> 
		<property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>- <property name="providerClass" 
		value="org.apache.bval.jsr.ApacheValidationProvider"> </property> </bean> <bean id="conversion-service" 
		class="org.springframework.format.support.FormattingConversionServiceFactoryBean" /> -->
	<!--<mvc:annotation-driven/> <mvc:annotation-driven enable-matrix-variables="true"/> <mvc:annotation-driven> 
		<mvc:message-converters> <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"> 
		<property name="supportedMediaTypes"> <list> <value>text/html;charset=UTF-8</value> </list> </property> 
		</bean> </mvc:message-converters> </mvc:annotation-driven> -->

	<!--<bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"></bean> -->
	<!-- <bean class="org.springframework.web.servlet.mvc.support.ControllerClassNameHandlerMapping"/> 已经不用 -->
	<!--<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping"/> 已经不用 -->
	<!--<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/> -->

	<!--<bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping"> <property name="mappings"> 
		<props> <prop key="/hello">mvcHelloController</prop> </props> </property> </bean> <bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/> 
		<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"> </bean> -->
	<!-- 启动Spring MVC的注解功能 -->
	<!-- <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"/> -->
	<!-- <property name="messageConverters"> <list> <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"></bean> 
		</list> </property> </bean> -->

	<bean id="userService" class="cn.osxm.ssmi.chp07.UserService" />
	<bean id="mvcHelloController" name="/mvcHello" class="cn.osxm.ssmi.chp07.MvcHelloController">
		<property name="userService" ref="userService" />
	</bean>




	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 前缀 -->
		<property name="prefix" value="/WEB-INF/view/" />
		<!-- 后缀 -->
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- <bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver"> 
		<property name="defaultErrorView"> <value>error</value> </property> <property name="defaultStatusCode"> 
		<value>500</value> </property> <property name="warnLogCategory"> <value>org.springframework.web.servlet.handler.SimpleMappingExceptionResolver</value> 
		</property> </bean> -->
	 <bean id="multipartResolver" class="org.springframework.web.multipart.support.StandardServletMultipartResolver"> 
		</bean> 
	<!--<bean name="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="102400000"></property>
	</bean>-->


	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="classpath:cn/osxm/ssmi/chp09/i18n/messages" />
	</bean>
	<!-- <bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver" > <property 
		name="cookieName" value="myLanguage"/> 单位为秒。若设置为-1，则cookie不会被持久化（客户端关闭浏览器后即被删除） <property name="cookieMaxAge" 
		value="100000"/> </bean> -->
	<!--<bean id="localeResolver" class="org.springframework.web.servlet.i18n.FixedLocaleResolver" > <property 
		name="defaultLocale" value="zh_CN"/> </bean> -->
	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
		<property name="localeAttributeName" value="mySessionLocale" />
	</bean>

	<mvc:interceptors>
		<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
			<property name="paramName" value="myInterceptlocale" />
		</bean>
	</mvc:interceptors>

</beans>