<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.osxm.ssmi.chp12.UserMapper">
	<select id="selectUser" resultType="cn.osxm.ssmi.com.User">
		select * from User where id = #{id}
	</select>
</mapper>