<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="helloService" class="cn.osxm.ssmi.chp02.HelloService" />

    <!-- Spring后置处理器 -->
<!--    <bean id="helloPostProcessor" class="cn.osxm.ssmi.chp02.HelloPostProcessor"/>-->
	<bean id="userDao" class="cn.osxm.ssmi.chp02.UserDao" />
	<bean id="userService" class="cn.osxm.ssmi.chp02.UserService">
		<!--<constructor-arg> <ref bean="userDao" /> </constructor-arg> -->
		<constructor-arg ref="userDao" />
	</bean>
	<bean id="userDao2" class="cn.osxm.ssmi.chp02.UserDao2" />
	<bean id="userService2" class="cn.osxm.ssmi.chp02.UserService2">
		<property name="userDao" ref="userDao" />
		<constructor-arg ref="userDao2" />
	</bean>
</beans>  