<?xml version="1.0" encoding="UTF-8"?>  
<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">  
      
   <bean id="userService" class="cn.osxm.ssmi.chp17.UserService" />
      
    <!-- 定义前置通知 -->  
    <bean id="myBeforeAdvice" class="cn.osxm.ssmi.chp17.advice.MyMethodBeforeAdvice"/>
    <bean id="myNamePointCut" class="cn.osxm.ssmi.chp17.pointcut.MyNameMatchPointCut"/>  
    <bean id="myDefaultAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">  
      <property name="pointcut">  
          <ref bean="myNamePointCut"/>  
      </property>  
      <property name="advice">  
          <ref bean="myBeforeAdvice"/>  
      </property>  
    </bean>  
      
    <!-- 定义后置通知 
    <bean id="afterLogAdvice" class="com.aop.AfterLogAdvice"></bean>  
    <bean id="regexpAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">  
      <property name="patterns">  
         <list>  
           <value>.*deleteUser</value>  
         </list>  
      </property>  
      <property name="advice">  
          <ref local="afterLogAdvice"/>  
      </property>  
    </bean>  -->  
      
    <!-- 定义环绕通知 
    <bean id="logAroundAdvice" class="com.aop.LogAroundAdvice"></bean>  
    <bean id="myAroundAdvisor" class="org.springframework.aop.support.NameMatchMethodPointcutAdvisor">    
      <property name="mappedNames">  
        <list>  
          <value>*User</value>  
        </list>  
      </property>  
      <property name="advice">  
        <ref local="logAroundAdvice" />  
      </property>  
    </bean>  -->  
      
    <!-- 定义异常通知 
    <bean id="throwsLogAdvice" class="com.aop.ThrowsLogAdvice"></bean>  -->  
      
      
    <!-- 定义代理类 -->  
	<bean id="userServiceProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="interfaces" value="cn.osxm.ssmi.chp17.IUserService"/><!-- 可以省略 -->
		<property name="target">
		   <ref bean="userService"/>
		</property>
		<property name="interceptorNames">
		    <list>  
                <value>myDefaultAdvisor</value>  
            </list>  
        </property>
	</bean>	
    <!-- <bean id="myProxy" class="org.springframework.aop.framework.ProxyFactoryBean">  
      <property name="proxyInterfaces">  
        <value>com.service.IUserService</value>  
      </property>  
      <property name="interceptorNames">  
        <list>           
         <value>myAdvisor</value>  
           
         <value>regexpAdvisor</value>  
           
         <value>myAroundAdvisor</value>  
           
         <value>throwsLogAdvice</value>  
        </list>  
      </property>  
      <property name="target" ref="myUserService"></property>  
    </bean>-->  
</beans>  