<?xml version="1.0" encoding="UTF-8"?>  
<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">  
      
    <bean id="myUserService" class="com.service.UserService"></bean>  
      
    <!-- 定义前置通知 -->  
    <bean id="beforeLogAdvice" class="com.aop.BeforeLogAdvice"></bean>  
    <bean id="beforePointcut" class="com.aop.MyPointcut"></bean>  
    <bean id="myAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">  
      <property name="pointcut">  
          <ref local="beforePointcut"/>  
      </property>  
      <property name="advice">  
          <ref local="beforeLogAdvice"/>  
      </property>  
    </bean>  
      
    <!-- 定义后置通知 -->  
    <bean id="afterLogAdvice" class="com.aop.AfterLogAdvice"></bean>  
    <bean id="regexpAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">  
      <property name="patterns">  
         <list>  
           <value>.*deleteUser</value>  
         </list>  
      </property>  
      <property name="advice">  
          <ref local="afterLogAdvice"/>  
      </property>  
    </bean>  
      
    <!-- 定义环绕通知 -->  
    <bean id="logAroundAdvice" class="com.aop.LogAroundAdvice"></bean>  
    <bean id="myAroundAdvisor" class="org.springframework.aop.support.NameMatchMethodPointcutAdvisor">    
      <property name="mappedNames">  
        <list>  
          <value>*User</value>  
        </list>  
      </property>  
      <property name="advice">  
        <ref local="logAroundAdvice" />  
      </property>  
    </bean>  
      
    <!-- 定义异常通知 -->  
    <bean id="throwsLogAdvice" class="com.aop.ThrowsLogAdvice"></bean>  
      
      
    <!-- 定义代理类，名 称为myProxy，将通过myProxy访问业务类中的方法 -->  
    <bean id="myProxy" class="org.springframework.aop.framework.ProxyFactoryBean">  
      <property name="proxyInterfaces">  
        <value>com.service.IUserService</value>  
      </property>  
      <property name="interceptorNames">  
        <list>           
         <value>myAdvisor</value>  
           
         <value>regexpAdvisor</value>  
           
         <value>myAroundAdvisor</value>  
           
         <value>throwsLogAdvice</value>  
        </list>  
      </property>  
      <property name="target" ref="myUserService"></property>  
    </bean>  
</beans>  