<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="thirdService" class="cn.osxm.ssmi.chp4.ThirdService" factory-method="getInstance" />

	<bean id="serviceLocator" class="cn.osxm.ssmi.chp4.ServiceLocator" />
	<bean id="thirdService2" factory-bean="serviceLocator" factory-method="createThirdServiceInstance" />
	<bean id="fourService" factory-bean="serviceLocator" factory-method="createFourServiceInstance" />
	<!-- inner Class initial -->
	<bean id="innerObject" class="cn.osxm.ssmi.chp4.WithInnerClass$InnerClass" />
</beans>  