<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	                    http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="helloDao" class="cn.osxm.ssmi.chp03.HelloDao" />
	<bean id="helloService" class="cn.osxm.ssmi.chp03.HelloService">
		<constructor-arg name="name" value="Spring IoC Container" />
		<property name="helloDao" ref="helloDao" />
	</bean>
</beans>  