<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">

	<display-name>ssi</display-name>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.jpg</url-pattern>
		<url-pattern>*.js</url-pattern>
		<url-pattern>*.css</url-pattern>
		<url-pattern>*.png</url-pattern>
		<url-pattern>*.gif</url-pattern>
		<url-pattern>*.json</url-pattern>
		<url-pattern>*.html</url-pattern>
		<url-pattern>*.htm</url-pattern>
		<url-pattern>*.swf</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>helloWorldServlet</servlet-name>
		<servlet-class>cn.osxm.ssmi.chp04.HelloWorldServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>helloWorldServlet</servlet-name>
		<url-pattern>/helloWorldServlet</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>helloHttpServlet</servlet-name>
		<servlet-class>cn.osxm.ssmi.chp07.servlet.HelloHttpServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>helloHttpServlet</servlet-name>
		<url-pattern>/helloHttpServlet</url-pattern>
	</servlet-mapping>


	<!-- <listener> <listener-class>org.springframework.web.context.ContextLoaderListener </listener-class> 
		</listener> <context-param> <param-name>contextConfigLocation</param-name> <param-value>classpath:applicationContext.xml,classpath:spring-security.xml</param-value> 
		</context-param> -->

	<!-- <filter> <filter-name>springSecurityFilterChain</filter-name> <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class> 
		</filter> <filter-mapping> <filter-name>springSecurityFilterChain</filter-name> <url-pattern>/*</url-pattern> 
		</filter-mapping> -->
	<servlet>
		<servlet-name>servletUploadServlet</servlet-name>
		<servlet-class>cn.osxm.ssmi.chp09.fileupload.ServletUploadServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>servletUploadServlet</servlet-name>
		<url-pattern>/servletUploadServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>dispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:springmvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<multipart-config/>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcherServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>


</web-app>
